.login{
    width: 1200px;
    margin: 0 auto;
}

.login > .location{

    width: 100%;
    margin-top: 0;
    margin-left: 0;
}

.login >.form{
    width: 550px;
    margin: 20px auto;
}

.login>.form>h1{
    font-size: 36px;
    line-height:44.1px;
    color: rgba(55, 58, 64, 1);
    text-align: left;
    margin-bottom: 50px;
}

.login>.form>.label{
    text-align: left;
    font-size: 18px;
    line-height: 22.05px;
    font-weight: 450;
    color: rgb(64, 55, 55);
}

.login>.form>input{
    width: 550px;
    height: 50px;
    background-color:#E6E6E6;
    border-radius: 5px;
    font-size: 24px;
    border: none;

}
.login >.form > h2 {
    font-size: 16px;
    line-height: 19.6px;
    text-align: left;
    margin-top: 30px;
    color: rgba(55, 58, 64, 1);
}
.login >.form > h2>a{
    color:rgba(55, 58, 64, 1) ;
    text-decoration: underline;
}

.login> .form  button{
    width: 550px;
    height: 50px;
    background-color: #ff0000;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 22.05px;
    border: none;
    margin-top: 30px;
}
.login> .form  button:hover{
    background-color: #c90505;
}
.login> .form  button:active{
    background-color: #ff0000;
}
@media screen and (max-width:1201px) {
    .login{
        width:95%;
        margin: 0 auto;
    }
    .login > .location{
        width: 100%;
    }
    
}

@media screen and (max-width:600px) {
    .login >.form{
        width: 500px;
        margin: 20px auto;
    }
    .login>.form>input{
        width: 500px;
    }
    .login> .form  button{
        width: 500px;
    }
}
@media screen and (max-width:500px) {
    .login >.form{
        width: 90%;
        margin: 20px auto;
    }
    .login>.form>input{
        width: 100%;
        margin: 0 auto;
    }
    .login> .form  button{
        width: 100%;
        margin: 30px auto 0;
    }
}